# Environment files
.env

# Data files
data/raw/*.csv
data/processed/*.csv

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
pytest-cache-files-*/

# Virtual environment
etl_env/
venv/

# Logs
*.log

# OS/editor files
.DS_Store
Thumbs.db
.vscode/